*{
    background-color: #F3E8EC;
    /*border: 1px solid black;*/
}

.bg-lab{
    background-color: #84133F;
}

.color-h{
    color: #84133F;
}

.w-ft{
    width: fit-content;
}

.border-h{
    border: #84133F;
}

.h-25{
    height: 50px;
}

.img-lab{
    height: 956px;
    width: 940px;
}