*{
    background-color: #F3E8EC;
    /*border: 1px solid black;*/
}

.img-logo{
    height: 150px;
}

.color-h{
    color: #84133F;
}

.bg-lab{
    background-color: #84133F;
}

.bg-morado{
    background-color: #5418A8;
}

.bg-amarillo{
    background-color: #EFC52E;
}

.bg-verde{
    background-color: #76AA91;
}

.bg-rosado{
    background-color: #EA536A;
}

.bg-beige{
    background-color: #E9D2C7;
}

.bg-verde-2{
    background-color: #B5E6D5;
}

.m-n{
    margin-top: -30px;
    margin-bottom: 30px;
}

.wh-i{
    height: 35px;
    width: 450px;
    border: #84133F 1px solid;
}

.border-h{
    border: #84133F;
}

.f-size{
    font-size: 25px;
}

.f-size-2{
    font-size: 20px;
}

.w-ft{
    width: fit-content;
}

.h-25{
    height: 50px;
}