*{
    background-color: #F3E8EC;
    /*border: 1px solid black;*/
}

.img-logo{
    height: 150px;
}

.color-h{
    color: #84133F;
}

.bg-lab{
    background-color: #84133F;
}

.m-n{
    margin-top: -30px;
    margin-bottom: 30px;
}

.wh-i{
    height: 35px;
    width: 450px;
    border: #84133F 1px solid;
}

.border-h{
    border: #84133F;
}

.f-size{
    font-size: 25px;
}