*{
    background-color: #F3E8EC;
    /*border: 1px solid black;*/
}

.img-logo{
    height: 150px;
}

.color-h{
    color: #84133F;
}

.bg-lab{
    background-color: #84133F;
}

.bg-morado{
    background-color: #5418A8;
}

.m-n{
    margin-top: -30px;
    margin-bottom: 30px;
}

.wh-i{
    height: 35px;
    width: 450px;
    border: #84133F 1px solid;
}

.border-h{
    border: #84133F;
}

.f-size{
    font-size: 25px;
}

.bg-lab{
    background-color: #84133F;
}

.color-h{
    color: #84133F;
}

.w-ft{
    width: fit-content;
}

.border-h{
    border: #84133F;
}

.h-25{
    height: 50px;
}

.img-lab{
    height: 956px;
    width: 940px;
}